/* default */
* {
	font-family: "Noto Sans KR", sans-serif;
}

.navbar {
	padding-left: 50px;
	padding-right: 50px;
}

#frontpage,
#studied,
#project,
#contact {
	/* cause of the fixed header */
	padding-top: 4rem;
    padding-left: 1rem;
}

.frontpage {
    display: flex;
    padding: 1rem;
	height: 400px;
	background-color: lightgray;
    align-items: center;
}

#card-picture {
    border: 1px solid black;
    width: 150px;
    height: 180px;
    margin-top: 1rem;
    align-self: center;
}

.card {
    border: 1px solid black
}

.card-title {
    margin: 3px;
}

.card-text {
    font-size: 50%;
    margin: 0px;
}

.studied {
	height: 400px;	
}

#about {
    /* margin-left: 1rem; */
    font-size: 75%;
}

.project {
	height: 400px;
    background-color: lightgray;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	height: 50px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#not-provided {
	display: none;
}

@media (max-width: 575px) {
	header,
	main,
	article,
	footer {
		display: none !important;
	}

	#not-provided {
		display: block;
	}
}
